<template name="Ingredients_Form_Field">
  <div class="{{#if required}}required{{/if}} field">
    <label>Ingredient(s)</label>
    <select multiple="" class="ui dropdown" name="ingredients">
      <option value="">Select Ingredient(s)</option>
        <option value="bacon">Bacon</option>
        <option value="bisquick">Bisquick</option>
        <option value="blueberries">Blueberries</option>
        <option value="bread">Bread</option>
        <option value="cheese-cheddar">Cheddar Cheese</option>
        <option value="egg">Egg</option>
        <option value="english muffin">English Muffin</option>
        <option value="ham">Ham</option>
        <option value="lettuce">Lettuce</option>
        <option value="maple">Maple Syrup</option>
        <option value="mayonnaise">Mayonnaise</option>
        <option value="milk">Milk</option>
        <option value="cheese-mozzarella">Mozzarella Cheese</option>
        <option value="potato">Potato</option>
        <option value="rice">Rice</option>
        <option value="spam">Spam</option>
        <option value="tomato">Tomato</option>
        <option value="tuna">Tuna</option>

    </select>
  </div>
</template>