<template name="Profile_Recipe">
  <div class="card">
    <div class="image">
      <img src="{{recipe.picture}}">
    </div>
    <div class="content">
      <i class="right floated star icon"></i>
      <div class="header">{{ recipe.recipeName }}</div>
      {{#each ingredient in recipe.ingredients }}
      <a style="margin-bottom: 2px" class="ui orange tag small label">{{ ingredient }}</a>
      {{/each}}
      <div class="description">
        {{ recipe.description }}
      </div>
    </div>
    {{#if createdBy}}
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic green edit-button button">Edit</div>
        <div class="ui basic red delete-button button">Delete</div>
      </div>
    </div>
    {{/if}}
  </div>
</template>