<template name="Profile_Recipe">
  {{#if Template.subscriptionsReady}}
  <div class="card">
    {{#if loggedIn}}
    <a class="image" href="{{pathFor 'View_Recipe_Page' recipeNum=recipe.identity username=routeUserName}}">
      <img src="{{recipe.picture}}">
    </a>
    {{else}}
    <a class="image" href="{{pathFor 'View_Recipe_Page' recipeNum=recipe.identity}}">
      <img src="{{recipe.picture}}">
    </a>
    {{/if}}
    <div class="content">
      {{#if loggedIn}}
      <i class="right floated star icon favorite-icon"></i>
      {{/if}}
      {{#if favorited}}
      <i class="right floated yellow star icon unfavorite-icon"></i>
      {{/if}}
      <div class="header">{{ recipe.recipeName }}</div>
      {{#each ingredient in recipe.ingredients }}
      <a style="margin-bottom: 2px" class="ui orange tag small label">{{ ingredient }}</a>
      {{/each}}
      <div class="description">
        {{ recipe.description }}
      </div>
    </div>
    {{#if createdBy}}
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic green edit-button button">Edit</div>
        <div class="ui basic red delete-button button">Delete</div>
      </div>
    </div>
    {{/if}}
  </div>
  {{/if}}
</template>