.landing-section-1 {
  background: burlywood url("images/background2.jpg");
  background-size: cover;
}

.landing-section-2 {
  background: burlywood url("images/cooking.jpg");
  background-size: cover;
}

.landing-section-3 {
  background: burlywood url("images/cuttingboard.jpg");
  background-size: cover;
}

.landing-section-4   {
  padding: 20px 10px 20px 10px;
  background-color: #ffffff;
  color: #111111;
}


.landing-section-1-welcome {
  font-family: 'Baskerville', sans-serif;
  font-weight: 900;
  font-size: 72px;
}

.landing-section-header {
  font-family: 'Baskerville', sans-serif;
  font-weight: 900;
  font-size: 36px;
}

.landing-section-sample {
  background-color: white;
}

.landing-section-recipe-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 20px;
}

body {
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 900;
  text-decoration: underline;
  text-align: center;
}