.weekly-ad-banner {
  padding-top: 60px;
  padding-bottom: 10px;
  background-color: burlywood;
  color: #323638;
}

.click-size {
  font-size: 40px;
  font-family: 'Baskerville', sans-serif;
}

.weekly-ad-centered {
  font-family: 'Baskerville', sans-serif;
  font-weight: 900;
  font-size: 60px;
  color: BLACK;
}

.frame-style {
  padding-top: 50px;
}
