.weekly-ad-banner {
  padding: 0px 10px 30px 10px;
  background-color: #2befe5;
  color: #323638;
}

.weekly-ad-share {
  margin-top: 100px;
  padding: 70px 10px 30px 10px;
  background-color: TAN;
  color: #323638;
}

.weekly-ad-centered {
  font-family: 'Baskerville', sans-serif;
  font-weight: 900;
  font-size: 60px;
  padding-left: 50px;
  color: BLACK;
}
